
.container{
  /* Step 1: Set display to grid */
    display:grid;
 /* Step 2: setup rows amd columns */
  
    /* grid-template-columns */
    grid-template-columns: 100px 300px 300px;
    grid-template-rows: 45px 848px 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid rgb(25, 0, 255);
}
.box{
  border: 1px solid rgb(70, 18, 18);
  background: #ac9bb8;
  }
/* Assign grid area below */
.header{ grid-area: hd;
}
.footer{grid-area:ft ;
}
.sidebar{grid-area: sd;
}
.content{grid-area: main;
}
.cox1{
    
    
    /*display: flex;*/
    margin: 10px;
    padding: 5px;
    width: 350px;
    height: 390px;
    
    
      
    
}
.cox2{ 
       display: flex;
       flex-wrap: wrap;
       margin: auto;
       justify-content: center;
       
       /*grid-template-columns: 30vw 30vw;
       grid-template-rows: 45vh 45vh;
       justify-content: center;
       grid-template-areas: 
       "top top top"
       "bottom bottom bottom";*/
      
      }

#one{
  grid-area: top;
}
#two{
  grid-area: bottom;
}

.red{
    background-color: rgb(0, 225, 255);
    border: 0.3rem outset lightblue;
  }
  
  .green{
    background-color: green;
    border: 0.3rem outset lightblue;
  }
  
  .yellow{
    background-color: yellow;
    border: 0.3rem outset lightblue;
  }
  .black{

    background-color: black;
    border: 0.3rem outset lightblue;
  }
#Hed{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(146, 156, 158);

  }

#Sid{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(87, 81, 141);

}  

#Fot{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(126, 93, 120);

} 
